{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" 
    href="{% static 'ratesmash/style.css' %}" />
</head>
<body>
    <header>
        <h1><a href="{% url 'ratesmash:index' %}">{{ title }}</a></h1>
        <p>
        <strong>beginner python</strong> による勉強用サイトです！<br>
        初めての方はhow to playを一読してからご利用ください！
        </p>
        <h2>{{ subtitle }}</h2>
    </header>
    
    <hr>
    
    <nav class="menu">
        <ul class="menu-bar">
            <li class="menu-item"><a href="{% url 'ratesmash:create_room' %}">部屋をつくる</a></li>
            <li class="menu-item"><a href="{% url 'ratesmash:all_players' %}">プレイヤー一覧</a></li>
            <li class="menu-item"><a href="{% url 'ratesmash:howtoplay' %}">ヘルプ</a></li>
        </ul>
    </nav>
    
    <hr>
    
    <div>
        <table class="player-detail">
            <tr>
                <th>ハンドルネーム</th>
                <th>キャラクター</th>
                <th>レート</th>
            </tr>
            <tr>
                <td>{{ player.user.first_name }}</td>
                <td>{{ player.main }}</td>
                <td>{{ player.rate }}</td>
            </tr>
        </table>
    </div>
    
    <div>
        <p>ゲームレコード</p>
        <table class="result-list">
            <tr>
                <th>対戦結果</th>
                <th>対戦相手</th>
                <th>キャラクター</th>
                <th>日付</th>
            </tr>
            {% for result in results %}
            <tr>
                <td class="{{ result.winloss }}">
                {% if result.winloss == True %}win{% endif %}
                {% if result.winloss == False %}loss{% endif %}
                </td>
                <td>{{ result.player2.user.first_name }}</td>
                <td>{{ result.player2.main }}</td>
                <td>{{ result.room.pub_date|date:'F/j/Y' }}</td>
            </tr>
            {% endfor %}            
        </table>
    </div>
    
    <p><a href="#">一番上へ</a></p>
    <p><a href="{% url 'ratesmash:index' %}">Homeへ</a></p>
    
    <hr>
    
    <footer>
        <p>Copyright</p>
    </footer>
    
</body>
</html>