{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" 
    href="{% static 'ratesmash/style.css' %}" />
</head>
<body>
    <header>
        <h1><a href="{% url 'ratesmash:index' %}">{{ title }}</a></h1>
        <p>
        <strong>beginner python</strong> による勉強用サイトです！<br>
        初めての方はhow to playを一読してからご利用ください！
        </p>
        <h2>{{ subtitle }}</h2>
    </header>
    
    <hr>
    
    <nav class="menu">
        <ul class="menu-bar">
            <li class="menu-item"><a href="{% url 'ratesmash:create_room' %}">部屋をつくる</a></li>
            <li class="menu-item"><a href="{% url 'ratesmash:all_players' %}">プレイヤー一覧</a></li>
            <li class="menu-item"><a href="{% url 'ratesmash:howtoplay' %}">ヘルプ</a></li>
        </ul>
    </nav>
    
    <hr>
    
    {% if room.state == 'w' %}
    <p>game information</p>
    <table class="room-detail">
        <tr>
            <th>集合サーバー</th>
            <th>counter foctor</th>
            <th>コメント</th>
        </tr>
        <tr>
            <td>{{ room.server }}</td>
            <td>{{ room.cf }}</td>
            <td>{{ room.comment }}</td>
        </tr>
    </table>
    {% endif %}
    
    {% if room.state == 'w' %}
    {% if room.mode == False %}
    <table class="room-owner">
        <tr>
            <th>部屋主</th>
            <td>{{ room.owner.user.first_name }}</td>
        </tr>
        <tr>
            <th>キャラクター</th>
            <td>{{ room.owner.main }}</td>
        </tr>
        <tr>
            <th>レート</th>
            <td>{{ room.owner.rate }}</td>
        </tr>
        <tr>
            <th>対戦結果</th>
            <td>
            {% if resulto == True %}WIN{% endif %}
            {% if resulto == False %}LOSS{% endif %}
            </td>
        </tr>
        {% if room.owner == player %}
        <tr>
            <td><a href="{% url 'ratesmash:delete_room' room.id %}"><input type="submit" value="delete" class="button"><a/></td>
        </tr>
        {% endif %}
    </table>
    {% else %}
    <table class="room-owner">
        <tr>
            <th>部屋主</th>
            <td>?</td>
        </tr>
        <tr>
            <th>キャラクター</th>
            <td>?</td>
        </tr>
        <tr>
            <th>レート</th>
            <td>?</td>
        </tr>
        <tr>
            <th>対戦結果</th>
            <td>
            {% if resulto == True %}WIN{% endif %}
            {% if resulto == False %}LOSS{% endif %}
            </td>
        </tr>
        {% if room.owner == player %}
        <tr>
            <td><a href="{% url 'ratesmash:delete_room' room.id %}"><input type="submit" value="delete" class="button"><a/></td>
        </tr>
        {% endif %}
    </table>
    {% endif %}
    {% endif %}
    
    {% if room.state != 'w' %}
    <table class="room-owner">
        <tr>
            <th>部屋主</th>
            <td>{{ room.owner.user.first_name }}</td>
        </tr>
        <tr>
            <th>キャラクター</th>
            <td>{{ room.owner.main }}</td>
        </tr>
        <tr>
            <th>レート</th>
            <td>{{ room.owner.rate }}</td>
        </tr>
        <tr>
            <th>対戦結果</th>
            <td>
            {% if resulto == True %}WIN{% endif %}
            {% if resulto == False %}LOSS{% endif %}
            </td>
        </tr>
        {% if room.owner == player %}
        <tr>
            <td><a href="{% url 'ratesmash:delete_room' room.id %}"><input type="submit" value="delete" class="button"><a/></td>
        </tr>
        {% endif %}
    </table>
    {% endif%}
    
    <p>vs</p>
    
    <table class="room-participant">
        <tr>
            <th>対戦相手</th>
            <td>{{ room.participant.user.first_name }}</td>
        </tr>
        <tr>
            <th>キャラクター</th>
            <td>{{ room.participant.main }}</td>
        </tr>
        <tr>
            <th>レート</th>
            <td>{{ room.participant.rate }}</td>
        </tr>
        <tr>
            <th>対戦結果</th>
            <td>
            {% if resultp == True %}WIN{% endif %}
            {% if resultp == False %}LOSS{% endif %}
            </td>
        </tr>
        {% if room.state == 'w' %}
        <tr>
            <td>
                <a href="{% url 'ratesmash:join_room' room.id %}"><input type="submit" value="この部屋に参加" class="button"><a/>
            </td>
        </tr>
        {% endif %}
    </table>
    
    <p><a href="#">一番上へ</a></p>
    <p><a href="{% url 'ratesmash:index' %}">Homeへ</a></p>
    
    <hr>
    
    <footer>
        <p>Copyright</p>
    </footer>
</body>
</html>