{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" 
    href="{% static 'ratesmash/style.css' %}" />
</head>
<body>
    <header>
        <h1><a href="{% url 'ratesmash:index' %}">{{ title }}</a></h1>
        <p>
        <strong>beginner python</strong> による勉強用サイトです！<br>
        初めての方はhow to playを一読してからご利用ください！
        </p>
        <h2>{{ subtitle }}</h2>
    </header>
    
    <hr>
    
    <nav class="menu">
        <ul class="menu-bar">
            <li class="menu-item"><a href="{% url 'ratesmash:create_room' %}">部屋をつくる</a></li>
            <li class="menu-item"><a href="{% url 'ratesmash:all_players' %}">プレイヤー一覧</a></li>
            <li class="menu-item"><a href="{% url 'ratesmash:ranking' %}">ランキング</a></li>
            <li class="menu-item"><a href="{% url 'ratesmash:howtoplay' %}">ヘルプ</a></li>
        </ul>
    </nav>
    
    <hr>
    
    {% if room.state == 'w' %}
    <p>game information</p>
    <table class="room-detail">
        <tr>
            <th>集合サーバー</th>
            <th>counter foctor</th>
            <th>コメント</th>
        </tr>
        <tr>
            <td>{{ room.server }}</td>
            <td>{{ room.cf }}</td>
            <td>{{ room.comment }}</td>
        </tr>
    </table>
    {% endif %}
    
    {% if room.state == 'w' %}
    {% if room.mode == False %}
    <table class="room-owner">
        <tr>
            <th>部屋主</th>
            <td>{{ room.owner.user.first_name }}</td>
        </tr>
        <tr>
            <th>キャラクター</th>
            {% if  room.owner.main == 'MA' %}
            <td><img src="{% static 'ratesmash/images/MA.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif  room.owner.main == 'DK' %}
            <td><img src="{% static 'ratesmash/images/DK.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'LI' %}
            <td><img src="{% static 'ratesmash/images/LI.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'SA' %}
            <td><img src="{% static 'ratesmash/images/SA.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'YO' %}
            <td><img src="{% static 'ratesmash/images/YO.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'KI' %}
            <td><img src="{% static 'ratesmash/images/KI.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'FO' %}
            <td><img src="{% static 'ratesmash/images/FO.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'PI' %}
            <td><img src="{% static 'ratesmash/images/PI.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'LU' %}
            <td><img src="{% static 'ratesmash/images/LU.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'NE' %}
            <td><img src="{% static 'ratesmash/images/NE.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'CF' %}
            <td><img src="{% static 'ratesmash/images/CF.png' %}" alt="{{ room.owner.main }}"/></td>
            {% else %}
            <td><img src="{% static 'ratesmash/images/PU.png' %}" alt="{{ room.owner.main }}"/></td>     
            {% endif %}
        </tr>
        <tr>
            <th>レート</th>
            <td>{{ room.owner.rate }}</td>
        </tr>
        <tr>
            <th>対戦結果</th>
            <td>
            {% if resulto == True %}WIN{% endif %}
            {% if resulto == False %}LOSS{% endif %}
            </td>
        </tr>
        {% if room.owner == player %}
        <tr>
            <td><a href="{% url 'ratesmash:delete_room' room.id %}"><input type="submit" value="delete" class="button"><a/></td>
        </tr>
        {% endif %}
    </table>
    {% else %}
    <table class="room-owner">
        <tr>
            <th>部屋主</th>
            <td>?</td>
        </tr>
        <tr>
            <th>キャラクター</th>
            <td><img src="{% static 'ratesmash/images/SF.png' %}" alt="?" /></td>
        </tr>
        <tr>
            <th>レート</th>
            <td>?</td>
        </tr>
        <tr>
            <th>対戦結果</th>
            <td>
            {% if resulto == True %}WIN{% endif %}
            {% if resulto == False %}LOSS{% endif %}
            </td>
        </tr>
        {% if room.owner == player %}
        <tr>
            <td><a href="{% url 'ratesmash:delete_room' room.id %}"><input type="submit" value="delete" class="button"><a/></td>
        </tr>
        {% endif %}
    </table>
    {% endif %}
    {% endif %}
    
    {% if room.state != 'w' %}
    <table class="room-owner">
        <tr>
            <th>部屋主</th>
            <td>{{ room.owner.user.first_name }}</td>
        </tr>
        <tr>
            <th>キャラクター</th>
            {% if  room.owner.main == 'MA' %}
            <td><img src="{% static 'ratesmash/images/MA.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif  room.owner.main == 'DK' %}
            <td><img src="{% static 'ratesmash/images/DK.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'LI' %}
            <td><img src="{% static 'ratesmash/images/LI.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'SA' %}
            <td><img src="{% static 'ratesmash/images/SA.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'YO' %}
            <td><img src="{% static 'ratesmash/images/YO.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'KI' %}
            <td><img src="{% static 'ratesmash/images/KI.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'FO' %}
            <td><img src="{% static 'ratesmash/images/FO.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'PI' %}
            <td><img src="{% static 'ratesmash/images/PI.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'LU' %}
            <td><img src="{% static 'ratesmash/images/LU.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'NE' %}
            <td><img src="{% static 'ratesmash/images/NE.png' %}" alt="{{ room.owner.main }}"/></td>
            {% elif room.owner.main == 'CF' %}
            <td><img src="{% static 'ratesmash/images/CF.png' %}" alt="{{ room.owner.main }}"/></td>
            {% else %}
            <td><img src="{% static 'ratesmash/images/PU.png' %}" alt="{{ room.owner.main }}"/></td>     
            {% endif %}
        </tr>
        <tr>
            <th>レート</th>
            <td>{{ room.owner.rate }}</td>
        </tr>
        <tr>
            <th>対戦結果</th>
            <td>
            {% if resulto == True %}WIN{% endif %}
            {% if resulto == False %}LOSS{% endif %}
            </td>
        </tr>
        {% if room.owner == player %}
        <tr>
            <td><a href="{% url 'ratesmash:delete_room' room.id %}"><input type="submit" value="delete" class="button"><a/></td>
        </tr>
        {% endif %}
    </table>
    {% endif%}
    
    <p>vs</p>
    
    <table class="room-participant">
        <tr>
            <th>対戦相手</th>
            <td>{{ room.participant.user.first_name }}</td>
        </tr>
        <tr>
            <th>キャラクター</th>
            {% if  room.participant.main == 'MA' %}
            <td><img src="{% static 'ratesmash/images/MA.png' %}" alt="{{ room.participant.main }}"/></td>
            {% elif  room.participant.main == 'DK' %}
            <td><img src="{% static 'ratesmash/images/DK.png' %}" alt="{{ room.participant.main }}"/></td>
            {% elif room.participant.main == 'LI' %}
            <td><img src="{% static 'ratesmash/images/LI.png' %}" alt="{{ room.participant.main }}"/></td>
            {% elif room.participant.main == 'SA' %}
            <td><img src="{% static 'ratesmash/images/SA.png' %}" alt="{{ room.participant.main }}"/></td>
            {% elif room.participant.main == 'YO' %}
            <td><img src="{% static 'ratesmash/images/YO.png' %}" alt="{{ room.participant.main }}"/></td>
            {% elif room.participant.main == 'KI' %}
            <td><img src="{% static 'ratesmash/images/KI.png' %}" alt="{{ room.participant.main }}"/></td>
            {% elif room.participant.main == 'FO' %}
            <td><img src="{% static 'ratesmash/images/FO.png' %}" alt="{{ room.participant.main }}"/></td>
            {% elif room.participant.main == 'PI' %}
            <td><img src="{% static 'ratesmash/images/PI.png' %}" alt="{{ room.participant.main }}"/></td>
            {% elif room.participant.main == 'LU' %}
            <td><img src="{% static 'ratesmash/images/LU.png' %}" alt="{{ room.participant.main }}"/></td>
            {% elif room.participant.main == 'NE' %}
            <td><img src="{% static 'ratesmash/images/NE.png' %}" alt="{{ room.participant.main }}"/></td>
            {% elif room.participant.main == 'CF' %}
            <td><img src="{% static 'ratesmash/images/CF.png' %}" alt="{{ room.participant.main }}"/></td>
            {% elif room.participant.main == 'PU'  %}
            <td><img src="{% static 'ratesmash/images/PU.png' %}" alt="{{ room.participant.main }}"/></td>
            {% else %}
            <td></td>   
            {% endif %}
        </tr>
        <tr>
            <th>レート</th>
            <td>{{ room.participant.rate }}</td>
        </tr>
        <tr>
            <th>対戦結果</th>
            <td>
            {% if resultp == True %}WIN{% endif %}
            {% if resultp == False %}LOSS{% endif %}
            </td>
        </tr>
        {% if room.state == 'w' %}
        <tr>
            <td>
                <a href="{% url 'ratesmash:join_room' room.id %}"><input type="submit" value="この部屋に参加" class="button"><a/>
            </td>
        </tr>
        {% endif %}
    </table>
    
    <p><a href="#">一番上へ</a></p>
    <p><a href="{% url 'ratesmash:index' %}">Homeへ</a></p>
    
    <hr>
    
    <footer>
        <p>Respected 大乱闘スマッシュブラザーズ<br>Copyright © 2018 beginnerpython rights reserved.</p>
    </footer>
    
</body>
</html>